* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.lol-logo {
    width: 150px;
    padding: 10px;
    background-color: transparent;
    transition: transform 0.3s, filter 0.3s;
}

.lol-logo:hover {
    transform: scale(1.1);
    filter: drop-shadow(-15px 7px 23px #ffffff);
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-buttons-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px;
    background-color: #001A6C;
    color: #cebf6f;
    border-bottom: 2px solid #cebf6f;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
}

.header-buttons-hero:hover {
    background-color: #002C9A;
}

.header-buttons-hero nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-buttons-hero nav ul li {
    display: inline;
    margin-right: 15px;
}

.header-buttons-hero nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: background-color 0.3s;
}

.header-buttons-hero nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.hero-background {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../../assets/img/groudonBG.jpg') center/cover no-repeat;
    padding-top: 6rem;
  }
  
  .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .hero-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .groudon-image {
    max-width: 100%;
    height: auto;
    animation: shakeGroudon 5s ease-in-out infinite, floatGroudon 10s ease-in-out infinite;
  }
  
  .ability-icons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  
  .ability-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #cebf6f;
    color: var(--color-groudon);
    font-size: 2rem;
    animation: pulsate 2s ease-in-out infinite;
  }
  
  .ability-icon span {
    font-size: 0.8rem;
    margin-top: 0.3rem;
  }
  
  .hero-info {
    flex: 1;
    text-align: left;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .hero-info h1 {
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .hero-info p {
    font-size: 2.2rem;
    margin-bottom: 3rem;
    color: var(--color-continent-pokemon);
  }
  
  .abilities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
  
  .abilities .ability {
    background-color: #002C9A;
    padding: 2.5rem;
    border-radius: 8px;
    text-align: left;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .abilities .ability:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  }
  
  .abilities .ability-icon {
    font-size: 2.5rem;
    color: var(--color-groudon);
    margin-right: 1.5rem;
    animation: pulsate 2s ease-in-out infinite;
  }
  
  .abilities .ability-icon span {
    font-size: 1rem;
    margin-top: 0.3rem;
  }
  
  .abilities .ability p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.header-buttons-hero {
    animation: fadeIn 2s ease-out, slideIn 2s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}